@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-h1 {
		@apply text-[2rem] font-bold leading-[2.5rem] md:text-[4.5rem] md:leading-[6rem];
	}
	.text-h2 {
		@apply text-[1.5rem] font-bold leading-[2rem] md:text-[4rem] md:leading-[5rem];
	}
	.text-h3 {
		@apply text-[1.5rem] font-bold leading-[2rem] md:text-[3rem] md:leading-[3.5rem];
	}
	.text-sm {
		@apply text-[0.88rem] leading-[1.25rem] md:text-[1rem] md:leading-[1.5rem];
	}
	.text-body {
		@apply text-[1rem] leading-[1.5rem] md:text-[1.5rem] md:leading-[2rem];
	}
	.btn-blue {
		@apply text-sm cursor-pointer rounded-full bg-blue-100 px-[1.75rem] py-[0.88rem] font-semibold text-white transition-all hover:bg-blue-90 active:bg-blue-70 md:px-[2rem] md:py-[1rem];
	}
	.btn-gray {
		@apply text-sm cursor-pointer rounded-full bg-black-50 px-[1.75rem] py-[0.88rem] font-semibold text-white transition-all hover:bg-black-30 active:bg-black-10 md:px-[2rem] md:py-[1rem];
	}
	.btn-red {
		@apply text-sm cursor-pointer rounded-full bg-red px-[1.75rem] py-[0.88rem] font-semibold text-white transition-all hover:bg-red/90 active:bg-red/70 md:px-[2rem] md:py-[1rem];
	}
	.btn-border {
		@apply text-sm cursor-pointer rounded-full border border-black-100 px-[1.75rem] py-[0.88rem] font-semibold transition-all hover:border-blue-90 hover:text-blue-90 active:border-blue-70 active:text-blue-70 md:px-[2rem] md:py-[1rem];
	}
	.btn-border-active {
		@apply text-sm cursor-pointer rounded-full border-blue-100 px-[1.75rem] py-[0.88rem] font-bold text-blue-100 transition-all md:px-[2rem] md:py-[1rem];
	}
	.input-text {
		@apply text-sm placeholder:text-sm rounded-[0.19rem] border border-black-10 px-[1rem] py-[0.88rem] font-medium placeholder:text-black-70 md:py-[1rem];
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
